* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
        url('./assets/office-picture.png');
    background-size: cover;
    background-position: center;
}

.register-container {
    background: #ffffff;
    width: 100%;
    max-width: 520px;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 150px;
    display: block;
    margin: 0 auto 10px;
}

.register-container h2 {
    text-align: center;
    color: #0a6b4f;
    font-size: 36px;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    margin-bottom: 20px;
}

.subtitle h4 {
    color: #555;
    font-size: 15px;

}

.subtitle h5 {
    color: #777;
    font-size: 13px;
    font-weight: 200;

}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #0a6b4f;
}

button {
    width: 100%;
    padding: 12px;
    background: #0a6b4f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #063c2d;
}
 .options {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 13px;
   margin-bottom: 20px;
 }
.options{
    display: flex;

}

p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

a {
    color: #0a6b4f;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}