* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background: #ffffff;
}

.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 150px;
}


.nav-logo-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #07523d;
    font-weight: 600;
    font-size: 15px;
}


.nav-links li a:hover {
    color: #04343a;
}

.nav-btns {
    display: flex;
    align-items: center;
}

.nav-btns a {
    margin-left: 15px;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
}

.signin-btn {
    color: #07523d;

}

.signin-btn:hover {
    color: #04343a;
}

.register-btn {
    background: #0b8260;
    color: #fff;
}

.register-btn:hover {
    background: #07523d;
}

.hero {
    width: 100%;
    height: 85vh;
    background: url("./assets/hero.png") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
    margin-top: 90px;
    position: relative;
}


.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}


.hero * {
    position: relative;
    z-index: 2;
}

.hot-jobs-btn {
    background: #055a42;
    border: 0;
    padding: 10px 18px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero p {
    margin: 10px 0 30px;
}

.search-box {
    width: 60%;
    background: white;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-box button {
    padding: 17px 25px;
    background: #055a42;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #04343a;
}

.search-box i {
    color: #333;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px 20px;
    text-align: center;
}

.feature-paragraph {
    margin-bottom: 40px;
}

.featured-jobs h2 {
    font-size: 2rem;
    /* margin-bottom: 10px; */
}

.featured-jobs p {
    color: #555;
    margin-bottom: 20px;
    /* margin-top: 10px; */
}

.jobs-grid {
    display: grid;
    margin-top: 70px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.job-card {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;

    transition:
        color 0.3s ease-in-out,
        transform 0.6s ease-in-out,
        box-shadow 0.5s ease-in-out;
}

.job-card:hover {
    background-color: #02694c;
    color: #fff;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    transform: translateY(-15px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}



.job-card:hover h3,
.job-card:hover .company,
.job-card:hover .location,
.job-card:hover .salary {
    color: #fff;
}


.job-card:hover .skills span {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.quick-apply:hover {
    color: #04343a;
    box-shadow: 0 15px 35px 5px #023527;
    transition: all 0.2s ease;
}

.job-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.job-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag {
    font-size: 0.75rem;
    padding: 3px 8px;
    border-radius: 15px;
    color: #fff;
}

.featured {
    background-color: #8fd19e;
    color: #000;
}

.urgent {
    background-color: #fcb997;
    color: #000;
}

.internship {
    background-color: #f7c1c0;
    color: #000;
}

.fulltime {
    background-color: #c9e6d1;
    color: #000;
}

.parttime {
    background-color: #d6d1f7;
    color: #000;
}

.freelancer {
    background-color: #a1d9f7;
    color: #000;
}

.job-card img {
    width: 60px;
    margin-bottom: 10px;
}

.company {
    font-weight: bold;
    color: #555;

}

.location {
    font-size: 0.85rem;
    color: #777;
}

.skills span {
    font-size: 0.85rem;
    background-color: #f0f0f0;
    padding: 4px 8px;
    margin: 2px;
    display: inline-block;
    border-radius: 5px;
}

.salary {
    font-weight: bold;
    text-align: center;
    margin: 35px 5px;
}

.quick-apply {
    background-color: #c9e6d1;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.job-banner {
    width: 100%;
    height: 200px;
    background-color: #04343a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

}

.job-banner h1 {
    color: rgb(155, 154, 154);
    font-size: 24px;

}

.job-banner-img {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 100px; */
    flex: 0 0 5em;
    overflow: hidden;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}

.banner-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 0.5rem;
    gap: 3em;
    animation: spin 50s infinite linear;
}

.showcase {
    width: 100%;
    display: flex;
    margin-top: 90px;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    padding: 60px 60px;
    padding-top: 0;
    gap: 10px;
}

.showcase img {
    width: 800px;
    border-radius: 6px;

}

.showcase-p p {
    color: rgb(1, 125, 63);
    font-size: 20px;
    background-color: rgba(0, 152, 104, 0.12);
    font-weight: bold;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 10px;
    width: fit-content;
}

.showcase-h1 {
    font-size: 36px;
    font-weight: bold;
    color: #272f3b;
}

.showcase-lorem {
    color: #555;
    line-height: 1.7;
    font-size: 17px;
    font-family: sans-serif;
    gap: 8px;
}

.job-section {
    display: flex;
    align-items: center;
    gap: 6px;
}

.job-section i {
    color: rgb(1, 125, 63);
    font-size: 17px;
}

.job-section-p {
    font-size: 14px;
    color: rgb(0 28 63 / 60%);
}

.job-list {
    display: flex;
    gap: 35px;
    margin-top: 20px;
}

.job-list-left,
.job-list-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.get-started-btn {
    background: rgb(1, 125, 63);
    border: 0;
    padding: 18px 25px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

.get-started-btn:hover {
    background-color: rgb(0, 152, 104);
}

/* .top-categories {
    width: 100%;
    padding: 0 140px;
    margin-top: 35px;
    margin-bottom: 40px;
    text-align: center;
}

.top-categories h2 {
    font-size: 2rem;
    margin-top: 10px;
}

.top-categories p {
    color: #555;
    font-size: 1rem;
    margin-top: 20px;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 30px;
} */

/* SECTION */
.top-categories {
    padding: 80px 10%;
    background-color: #f8fafc;
    text-align: center;
}

.top-categories-h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #1f2937;
}

.top-categories-p {
    max-width: 600px;
    margin: 0 auto 50px;
    color: #6b7280;
    font-size: 1rem;
}

/* GRID */
.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.category-card {
    background-color: #ffffff;
    border-radius: 14px;
    padding: 25px 30px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    transition: all 0.9s ease;
    cursor: pointer;
}


/* ICON */
.category-card i {
    width: 70px;
    height: 70px;
    background-color: #e6f7f1;
    color: #068a65;
    border-radius: 50%;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    transition: all 0.4s ease;
}

/* TEXT */
.category-card h3 {
    font-size: 1.2rem;
    margin-bottom: 2px;
    color: #111827;
    transition: color 0.3s ease;
}

.category-card p {
    font-size: 0.95rem;
    color: #6b7280;
    margin-bottom: 5px;
    transition: color 0.3s ease;
}

.category-card button {
    padding: 8px 20px;
    background-color: #068a65;
    border-radius: 20px;
    color: white;
    border: none;
    margin-top: 5px;
}

/* HOVER EFFECT */
.category-card:hover {
    background-color: #068a65;
    transform: translateY(-12px);
    box-shadow: 0 18px 40px rgba(6, 138, 101, 0.35);
}

.category-card:hover i {
    background-color: #ffffff;
    color: #068a65;
    border: 2px solid #068a65;
}

.category-card:hover h3,
.category-card:hover p {
    color: #ffffff;
}

.category-card:hover button {
    border: 2px solid #02694c;
    background-color: #a2efda;
    color: #033a2b;
}

.Choose-card:hover {
    border: 1px solid #068a65;
}

.Choose-you-need {
    text-align: center;
    background-color: #04343a;
    color: white;
    padding: 60px 20px;
    margin-bottom: 40px;

}

.Choose-you-need h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.Choose-you-need p {
    font-size: 16px;
    margin-bottom: 30px;
}

.Choose-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}

.Choose-card {
    background-color: rgba(255, 255, 255, 0.1);
    color: #000000;
    padding: 25px 20px;
    color: white;
    border-radius: 10px;
    width: 450px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.Choose-card h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: #0a5;
}

.Choose-card h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.Choose-card p {
    font-size: 14px;
    line-height: 1.6;
}

.Explore-job-in-newyork {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.newYork-h1 {
    font-size: 2rem;
    margin-top: 10px;
}

.newYork-p {
    color: #555;
    font-size: 1rem;
    margin-top: 20px;
}

.newyork-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    padding: 50px 150px;
}

.newyork-card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.newyork-card {
    transition: box-shadow 0.3s ease;
}

.newyork-card img {
    transition: transform 0.4s ease;
}

.newyork-card:hover img {
    transform: scale(1.10);
    /* background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)); */
}

.newyork-card-img img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.newyork-card-text {
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 20px 14px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    color: #fff;
    border-radius: 8px;
    text-align: left;
}

.newyork-card:hover .newyork-card-text {
    transform: scale(1.10);
    transition: transform 0.4s ease;
}

.newyork-card {
    overflow: hidden;
    border-radius: 12px;
}

.newyork-card-text h2 {
    font-size: 1.1rem;
    margin: 0;
    color: #fff;
}

.newyork-card-text p {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #dff6f0;
}


.hire-talents {
    width: 100%;
    background-color: #f1f5f8;
    padding: 60px 20px;
    text-align: center;
    margin-top: 40px;
}

.hire-talents h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.hire-talents p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 30px;
}

.hire-talents-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.hire-talents-card {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    text-align: left;
    /* transition: transform 0.9s ease; */
}

.hire-talents-card:hover {
    border: 2px solid #068a65;

}

.hire-talents-card:hover .view-details-btn button {
    background-color: #068a65;
    transition: transform 0.9s;
    color: #fff;
}

.hire-talents-card:hover h2 {
    color: #068a65;
}

.hire-talents-card-img {
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.hire-talents-card-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.hire-talents-card h2 {
    font-size: 1.2rem;

}

.hire-talents-card p {
    color: #777;
    font-size: 0.8rem;
    margin: 8px 0 15px;
}

.hire-talents-card-text {
    text-align: center;
}

.hire-talents-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hire-star {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.hire-star i {
    color: rgb(255, 215, 0);
}

.hire-talents-card {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    transition: all 0.3s ease;
}

.hire-talents-card:hover {
    border: 2px solid #068a65;
    transform: translateY(-8px);
}

.view-details-btn button {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hire-talents-card:hover .view-details-btn button {
    background-color: #068a65;
    color: #fff;
}

.hire-talents-card-img {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.hire-talents-card:hover .hire-talents-card-img {
    transform: scale(1.1);
}

.hire-talents-card h2 {
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.hire-talents-card:hover h2 {
    color: #068a65;
}

.view-details-btn {
    text-align: center;
}

.view-details-btn button {
    border: 2px solid gray;
    padding: 12px 80px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #fff;
}

/* package */
.package-section {
    width: 100%;
    padding: 60px 20px;
    text-align: center;
}

.package-section h1 {
    font-size: 2.2rem;
    margin-bottom: 30px;
}

.package-section p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 30px;
}

.package-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


.package-card {
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    color: #fff;
    padding-bottom: 20px;
transition: all 0.8s ease-in-out;
}

.package-card-body {
    /* height: fit-content; */
    font-size: 1rem;
    color: #555;
    display: flex;
    gap: 0.12px;
    /* margin-top: 20px; */
    flex-direction: column;
}

.package-card-body i {
    color: #068a65;
}

.package-card-header {
    padding: 40px;
    font-size: 1.5rem;
    border-radius: 10px;
    overflow: hidden;
}

.package-color {
    background-color: #0b8260;
}

.package-card-header h2 {
    font-size: 30px;
}



.package-card-header h2 {
    font-size: 2.5rem;
    color: rgb(40, 39, 39);
}

.package-card-btn button {
    background-color: #0b8260;

    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 20px 120px;
}

.package-card-btn button:hover {
    background-color: #055a42;
    color: #fff;
}
.package-card:hover{
    border: 1px solid #02694c;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.package-time {
    display: flex;
    background-color: #033a2b;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.package-time p {
    font-size: 3.5rem;
    /* margin-right: 5px; */
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
}

.package-time span {
    font-size: 1rem;
    color: #716f6f;
}



.basic {

    background: linear-gradient(to bottom, #02694c, #06976e);
}


.are-you-working {
    width: 100%;
    min-height: 300px;
    background-color: #08674c;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px;
    position: relative;
    overflow: hidden;
}

.working {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    /* control visibility */
}

.working img {
    width: 90%;
    height: auto;
}

.working-text,
.input-group {
    position: relative;
    z-index: 9;
}

.working-text h1 {
    margin-bottom: 10px;
}

/* INPUT GROUP */
.input-group {
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 120px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 650px;
    height: 60px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.input-group input {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    color: #333;
}

.input-group button {
    background: #1e1e1e;
    color: #fff;
    padding: 15px 25px;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.input-group button:hover {
    background: #000;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 80px 80px;
    /* margin:40px ; */
}

.footer-box {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 10px;
}

.footer-part-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-part-1 img {
    width: 170px;
}

.footer-social-icons {
    width: 10%;
    display: flex;
    gap: 20px;
}

.footer-icons-box {
    padding: 10px;
    color: gray;
    background-color: #e9e9e9;
}

.footer-address {
    color: gray;
    font-size: 14px;
    font-weight: 600;
}

.footer-for-clients {
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%;
    background: #ffffff;
    padding: 70px 100px 30px;
}

.footer-box {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1.2fr;
    gap: 50px;
    margin-bottom: 40px;
}

.footer-part-1 {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-part-1 img {
    width: 160px;
}

.footer-address {
    font-size: 14px;
    color: #6c757d;
    line-height: 1.6;
}

.footer-social-icons {
    display: flex;
    gap: 12px;
}

.footer-icons-box {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    cursor: pointer;
}

.Download-apps-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.get-in-on {
    color: #555;

}

.Download-apps-flex {
    display: flex;
    padding: 10px;
    border: 1px solid #8fd19e;
    border-radius: 5px;
    gap: 30px;
}

.icon {
    font-size: 50px;
    color: #0b8260;
}

.footer-icons-box:hover {
    background: #0b8260;
    color: #fff;
}


.footer-box p {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-box ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-box ul li {
    font-size: 14px;
    color: #6c757d;
    cursor: pointer;
}

.footer-box ul li:hover {
    color: #0b8260;
}

/* DOWNLOAD APP */
.footer-app {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.app-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.app-box i {
    font-size: 28px;
}

.app-text p:first-child {
    font-size: 11px;
    color: #6c757d;
}

.app-text p:last-child {
    font-size: 16px;
    font-weight: 600;
}


.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;

    align-items: center;

}

.footer-bottom p {
    font-size: 15px;
    font-weight: 700;
    color: #6c757d;
}

/* FOOTER STATS */
.footer-stats {
    display: flex;
    gap: 35px;
}

.footer-stat h1 {
    font-size: 22px;
    color: #111;
}

.footer-stat p {
    font-size: 13px;
    color: #6c757d;
}